.comment {
  margin: 0 auto;
  padding: 1em;
  background: #3b3e4d;
  border-radius: 10px;
  position: relative;
  /* Remove fixed width */
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.comment::after, .comment::before {
  content: "";
  position: absolute;
  inset: -3px; /* Use inset instead of height/width/top/left */
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  z-index: -1;
  border-radius: inherit; /* Inherit border-radius from parent */
  animation: 3s spin infinite linear;
}

.comment::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}