---
import Layout from "../layouts/Layout.astro";
import ActivitiesPage from "../components/ActivitiesPage.astro";
import { supabase } from "../lib/supabase";
import { loginCheck } from "@/lib/auth";

const { cookies, redirect, rewrite } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

let email = "";
if (refreshToken && accessToken) {
  const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  // On Auth issue
  if (error) {
    console.error("ERROR", error);

    cookies.delete("sb-access-token", {
      path: "/",
    });
    cookies.delete("sb-refresh-token", {
      path: "/",
    });

    return redirect("/signin");
  }

  if (!data.user?.id) throw new Error("User not found");

  // if user has uncompleted goals in supabase, redirect to /goals
  const { count } = await supabase
    .from("goals")
    .select("*", { count: "exact", head: true })
    .eq("uid", data.user?.id)
    .is("completed", null);

  if (count && count > 0) {
    console.log("redirecting to /goals");
    return rewrite("/goals");
  }

  if (data.user?.email) email = data.user?.email;
}
// return data.user?.email;

const check = loginCheck(Astro);
if (check) return check;
---

<Layout title="Choose Your Goals" transition:animate="fade">
  {
    email ? (
      <h3 class="text-white w-full text-center">User: {email}</h3>
    ) : (
      "Not loggin in"
    )
  }
  <ActivitiesPage />
</Layout>
