---
import Layout from "../layouts/Layout.astro";
import ActivitiesPage from "../components/ActivitiesPage.astro";
import { supabase } from "../lib/supabase";
import { loginCheck } from "@/lib/auth";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

let email = "";
if (refreshToken && accessToken) {
  const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  if (error) {
    cookies.delete("sb-access-token", {
      path: "/",
    });
    cookies.delete("sb-refresh-token", {
      path: "/",
    });

    return redirect("/signin");
  }

  if (!data.user?.id) throw new Error("User not found");

  // delete uncompleted goals older than 24hrs
  const deleteOldGoals = await supabase
    .from("goals")
    .delete()
    .eq("uid", data.user?.id)
    .is("completed", null)
    .gte(
      "created_at",
      new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString(),
    );

  // if user has uncompleted goals in supabase, redirect to /goals
  const { count } = await supabase
    .from("goals")
    .select("*", { count: "exact", head: true })
    .eq("uid", data.user?.id)
    .is("completed", null);

  console.log("count", count);

  if (count && count > 0) {
    return redirect("/goals");
  }

  if (data.user?.email) email = data.user?.email;
}
// return data.user?.email;

const check = loginCheck(Astro);
if (check) return check;
---

<Layout title="Choose Your Goals">
  {
    email ? (
      <h3 class="text-white w-full text-center">User: {email}</h3>
    ) : (
      "Not loggin in"
    )
  }
  <ActivitiesPage />
</Layout>
