---
import Layout from "../layouts/Layout.astro";
import QuizSet from "../components/quizset.astro";
import { setAstroSession } from "../lib/supabase";
import { loginCheck } from "@/lib/auth";

const { cookies, redirect, rewrite } = Astro;

Astro.request.headers.set("Cache-Control", "no-store");
const { supabase, data, error } = await setAstroSession(Astro.cookies);
if (error) return Astro.redirect("/api/auth/signout");

const check = loginCheck(Astro);
if (check) return check;
---

<Layout title="Choose Your Goals" transition:animate="fade">
  <RootElement>
    <div id="bannertop"></div>
    <h1 class="text-3xl mx-auto mt-2 font-bold text-gray-700">
      <span>🌟</span> Training Practice <span>🌟</span>
    </h1>

    <div
      id="welcomeCard"
      class="bg-white shadow-lg rounded-lg p-6 mt-4 mb-4 max-w-2xl mx-auto"
    >
      <h2 class="text-2xl font-bold mb-2 text-gray-800">
        Welcome to the Practice Exam!
      </h2>
      <p class="text-gray-600 mb-4">
        Ready to test your knowledge? Click the button below to start the quiz.
      </p>
      <button
        id="startQuizBtn"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300"
      >
        Start Quiz
      </button>
    </div>

    <div id="quizSetContainer" class="hidden">
      <QuizSet />
    </div>
  </RootElement>

  <script>
    RootElement.ready(($, ctx) => {
      const welcomeCard = document.getElementById("welcomeCard") as HTMLElement;
      const quizSetContainer = document.getElementById(
        "quizSetContainer",
      ) as HTMLElement;
      const startQuizBtn = document.getElementById(
        "startQuizBtn",
      ) as HTMLElement;

      startQuizBtn.addEventListener("click", () => {
        welcomeCard.classList.add("hidden");
        quizSetContainer.classList.remove("hidden");
      });
    });
  </script>

  <style>
    #bannertop {
      background-image: url("./banner.jpg");
      background-size: cover;
      background-position: center;
      overflow: hidden;
      margin-top: 1rem;
      height: 24vh;
      max-height: 350px;
      width: 100%;
    }
  </style>
</Layout>
