---
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const urlBase = "http://localhost:4321"; //Astro.request.url.split("/signin")[0];
const url2 = new URL("/api/auth/callback", urlBase).href;
console.log("redirect url", url2);

if (accessToken || refreshToken) {
  return redirect("/");
}

const redirectURL = import.meta.env.PROD ? import.meta.env.SITE : url2;
console.log("redirectURL", redirectURL);

const { data, error } = await supabase.auth.signInWithOAuth({
  provider: "google",
  options: {
    redirectTo: redirectURL,
  },
});

if (data?.url) {
  // redirect the user to the identity provider's authentication flow
  return redirect(data.url);
}
---

redirecting to <a href={data.url}>{data.url}</a> with redirect of {redirectURL}.
