---
import { Switch } from "@/components/ui/switch";

const activities = [
  { label: "study", icon: "school" },
  { label: "work", icon: "work" },
  { label: "relax", icon: "self_improvement" },
  { label: "family", icon: "family_restroom" },
  { label: "friends", icon: "people" },
  { label: "date", icon: "favorite" },
  { label: "sport", icon: "directions_run" },
  { label: "party", icon: "celebration" },
  { label: "movies", icon: "movie" },
  { label: "reading", icon: "menu_book" },
  { label: "gaming", icon: "sports_esports" },
  { label: "shopping", icon: "shopping_cart" },
  { label: "good meal", icon: "restaurant" },
  { label: "cleaning", icon: "cleaning_services" },
  { label: "transit", icon: "directions_transit" },
  { label: "school", icon: "edit" },
  { label: "edit/new", icon: "add_circle" },
];
---

<div class="max-h-screen flex flex-col items-center py-8 space-y-4">
  <div class="flex items-center justify-between w-full px-4 mb-4">
    <a
      href="/feed"
      class="material-icons bg-white text-purple-500 p-3 rounded-full shadow-lg border-2 border-gray-200"
    >
      arrow_back
    </a>

    <div class="flex items-center space-x-2">
      <!-- placeholder value -->
      <Switch checked={true} />
      <span class="text-green-400">Goal set or Goal Completed?</span>
    </div>

    <button
      class="material-icons bg-purple-500 text-white p-3 rounded-full shadow-lg"
    >
      check
    </button>
  </div>
  <h1 class="text-2xl uppercase mb-4">What have you been up to?</h1>
  <div class="grid grid-cols-4 gap-4 mb-4 md:grid-cols-5">
    {
      activities.map((activity) => (
        <div class="flex flex-col items-center text-center text-purple-500">
          <div class="w-16 h-16 flex items-center justify-center rounded-full border-2 border-gray-200 mb-2">
            <span class="material-icons text-3xl">{activity.icon}</span>
          </div>
          <p class="text-xs">{activity.label}</p>
        </div>
      ))
    }
  </div>
  <textarea
    class="w-11/12 p-2 mt-4 border rounded-md bg-gray-200 md:w-1/2"
    placeholder="Add Note...">
  </textarea>
  <div class="flex justify-between items-center w-11/12 mt-4 md:w-3/4">
    <div class="fixed bottom-8 inset-x-0 flex flex-col items-center md:relative md:bottom-auto md:left-1/2 md:transform md:-translate-x-1/2">
      <button
        class="material-icons bg-purple-500 text-white p-4 rounded-full shadow-lg text-4xl"
      >
        check
      </button>
      <p class="mt-2 text-purple-500">Save</p>
    </div>
    <div class="fixed bottom-8 right-8 flex flex-col items-center">
      <button
        class="material-icons bg-white text-purple-500 p-3 rounded-full shadow-lg border-2 border-gray-200"
      >
        edit
      </button>
      <p class="mt-2 text-purple-500">Edit Activities</p>
    </div>
  </div>
</div>