<script>
  import { selectedActivities } from "@/scripts/store";

  selectedActivities.subscribe((value) => {
    console.log("activities selected", value);

    const goalContainer = document.getElementById("goalContainer");
    const storedActivities = value.map((activity) => ({
      name: activity,
      isRunning: false,
      time: "00:00:00",
    }));

    if (goalContainer) {
      // Clear the container first to avoid duplication
      goalContainer.innerHTML = "";

      storedActivities.forEach((goal) => {
        const goalElement = document.createElement("div");
        goalElement.className =
          "flex justify-between items-center p-2 border border-green-400 rounded-lg";
        goalElement.innerHTML = `
          <span class="capitalize text-green-400">
            ${goal.name}
          </span>
          <span id="stopwatch" class="text-green-400">
            ${goal.time}
          </span>
          <button class="bg-gray-700 text-green-400 border border-green-400 px-2 py-1 rounded-lg">
            ${goal.isRunning ? `(stop)` : "(start)"}
          </button>
        `;

        let intervalId = null;
        let startTime = null;
        let elapsedTime = 0;
        let isPaused = false;

        const startStopwatch = () => {
          goalElement.querySelector("button").textContent = "(stop)";
          if (!startTime) {
            startTime = Date.now();
            intervalId = setInterval(updateStopwatch, 1000);
          }
          if (isPaused) {
            isPaused = false;
            if (intervalId === null) {
              startTime = Date.now() - elapsedTime * 1000;
              intervalId = setInterval(updateStopwatch, 1000);
            }
          }
        };

        const stopStopwatch = () => {
          goalElement.querySelector("button").textContent = "(start)";
          if (intervalId) {
            clearInterval(intervalId);
            intervalId = null;
            isPaused = true;
          }
        };

        const updateStopwatch = () => {
          const currentTime = Date.now();
          elapsedTime = (currentTime - startTime) / 1000;
          const hours = Math.floor(elapsedTime / 3600);
          const minutes = Math.floor((elapsedTime % 3600) / 60);
          const seconds = Math.floor(elapsedTime % 60);

          goalElement.querySelector("#stopwatch").textContent =
            `${hours.toString().padStart(2, "0")}:${minutes.toString().padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`;
        };

        goalElement
          .querySelector("button")
          .addEventListener("click", (event) => {
            event.preventDefault();
            if (event.target.textContent.includes("start")) {
              startStopwatch();
            } else {
              stopStopwatch();
            }
          });

        goalContainer.appendChild(goalElement);
      });
    } else {
      console.error("goalContainer not found");
    }
  });
</script>

<div class="flex flex-col items-center p-4 space-y-4 text-slate-200">
  <h1 class="text-2xl font-bold text-green-400">Today's goal list</h1>
  <div class="bg-gray-800 p-4 rounded-lg space-y-4 w-full md:w-2/3">
    <div class="container space-y-4" id="goalContainer">
      <!-- Activities will be rendered here -->
    </div>
  </div>
</div>