---
import GoalItem from "./GoalItem.astro";
import { supabase, Goal } from "../lib/supabase";
const uid = Astro.cookies.get("uid")?.value;

// get goals created on this day
const { data: goals, error } = await supabase
  .from("goals")
  .select("*")
  .match({ uid })
  // .is("completed", null) // TODO: remove
  .gte("created_at", new Date().toISOString().split("T")[0])
  .order("id", { ascending: true });

if (error) {
  console.error("Error fetching goals:", error);
  return Response.error("Error fetching goals");
}
---

<div class="flex flex-col items-center p-4 space-y-4 text-slate-200">
  <user id="user" uid={uid} class="hidden"></user>
  <h1 class="text-2xl font-bold text-green-400">Today's goal list</h1>
  <div class="bg-gray-800 p-4 rounded-lg space-y-4 w-full md:w-2/3">
    <div class="container space-y-4" id="goalContainer">
      <!-- Activities will be rendered here -->
      {goals.map((goal: Goal) => <GoalItem goal={goal} />)}
    </div>
  </div>
</div>

<script>
  // OLD CODE MOVING TO GoalItem
</script>
