<RootElement>
  <nav class="bg-transparent border-b">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
      <!-- App Name -->
      <div class="flex items-center space-x-4">
        <a href="/" class="text-2xl font-bold">
          <span class="text-yellow-100">Thrive</span>
          <span class="text-sky-300">Together</span>
        </a>
      </div>
      <!-- Right Icons -->
      <div class="flex-center space-x-4">
        <!-- <a href="#" class="text-gray-400 hover:text-gray-200">
          <span class="material-icons"> favorite_outline </span>
        </a> -->
        <!-- Desktop Nav Links -->
        <div class="hidden md:flex items-center space-x-4">
          <a href="/" class="text-black hover:text-green-400 font-semibold"
            >Goals</a
          >

          <a href="/stats" class="text-black hover:text-green-400 font-semibold"
            >Stats</a
          >
          <a
            href="https://www.thrivetogether.xyz/"
            target="_blank"
            class="text-black hover:text-green-400 font-semibold"
            >About</a
          >
          <a
            href="/profile"
            class="text-black hover:text-green-400 font-semibold">Profile</a
          >
        </div>
        <!-- Mobile Menu Button -->
        <div class="md:hidden flex items-center">
          <button
            id="mobile-menu-button"
            class="text-gray-400 hover:text-gray-300 focus:outline-none"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- Mobile Menu -->
    <div
      id="mobile-menu"
      class="fixed right-0 top-18 z-20 mt-2 w-1/3 bg-gray-200 shadow-lg rounded-lg hidden md:hidden"
    >
      <div class="flex-end flex-col">
        <a
          href="/"
          class="block px-4 py-2 text-sm text-slate-600 w-full hover:text-green-400 hover:bg-gray-300"
          >Goals</a
        >
        <a
          href="/stats"
          class="block px-4 py-2 text-sm text-slate-600 w-full hover:text-green-400 hover:bg-gray-300"
          >Stats</a
        >
        <a
          href="https://www.thrivetogether.xyz/"
          target="_blank"
          class="block px-4 py-2 text-sm text-slate-600 w-full hover:text-green-400 hover:bg-gray-300"
          >About</a
        >
        <a
          href="/profile"
          class="block px-4 py-2 text-sm text-slate-600 w-full hover:text-green-400 hover:bg-gray-300"
          >Profile</a
        >
      </div>
    </div>
  </nav>
</RootElement>

<script>
  RootElement.ready(($, ctx) => {
    const mobileMenuButton = document.getElementById("mobile-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");

    if (!mobileMenu || !mobileMenuButton)
      throw new Error("Missing mobile menu elements");
    mobileMenuButton.addEventListener("click", (event) => {
      mobileMenu.classList.toggle("hidden");
      event.stopPropagation(); // Prevent the click from propagating to the document
    });

    // Close the menu when clicking outside of it
    document.addEventListener("click", (event) => {
      const target = event.target as Node;
      if (!mobileMenu.contains(target) && !mobileMenuButton.contains(target)) {
        mobileMenu.classList.add("hidden");
      }
    });

    // Close the menu when resizing the window
    window.addEventListener("resize", () => {
      if (!mobileMenu.classList.contains("hidden")) {
        mobileMenu.classList.add("hidden");
      }
    });
  });
</script>
