---
import Quiz from "./quiz.astro";
import { questionToJSON } from "../lib/question_parser";
import questionsText from "../lib/questions";

// const q = await downloadAndExtractText(import.meta.env.QUESTIONS_URL);
// console.log("q", q);
const QUESTIONS = questionToJSON(questionsText);

console.log("QUESTIONS", QUESTIONS);

const { currentQuestionIndex = 0 } = Astro.props;

const totalQuestions = QUESTIONS.length;
const currentQuestion = QUESTIONS[currentQuestionIndex];
---

<div class="quiz-set">
  <div class="quiz-progress">
    Question {currentQuestionIndex + 1} of {totalQuestions}
  </div>
  <Quiz question={currentQuestion} />
</div>

<style>
  .quiz-set {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .quiz-progress {
    text-align: center;
    margin-bottom: 0rem;
    font-weight: bold;
  }
</style>
